@import url("https://fonts.googleapis.com/css2?family=Roboto");

@import "./nullstyle";
@import "./library";

* {
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(66, 64, 64, 0.75);
  /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
  /* толщина */
}

html,
body {
  line-height: 1.21;
  color: $font-color1;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $background-color1;
}

a,
a:focus,
a:visited,
a:active,
a:hover {
  color: $font-color1;
}

#border_draw {
  display: flex;
  flex-direction: column;

  min-height: 100%;
  min-width: 100%;

  @include border_gradient_draw(15px);

  @media (max-width: $adaptive_state1) {
    @include border_gradient_draw(5px);
  }

  #app {
    background: $background-color1;

    box-shadow: $dark_3;

    height: 100%;
    width: 100%;

    border-radius: 10px;

    display: flex;
    flex-direction: column;

    padding: 10px;

    flex-grow: 1;

    box-shadow: 6px 6px 10px 0px $background-color2;

    @media (max-width: $adaptive_state1) {
      box-shadow: 2px 2px 10px 2px $background-color2;
    }
  }

  .content {
    display: flex;
    flex-direction: row;

    flex-grow: 1;

    width: 100%;

    margin-top: 10px;

    .main {
      display: flex;
      flex-direction: column;

      width: 100%;
    }
  }

  @media (max-width: $adaptive_state1) {
    .content {
      display: flex;
      flex-direction: column;

      flex-grow: 1;

      width: 100%;

      margin-top: 10px;

      .main {
        display: flex;
        flex-direction: column;

        width: 100%;

        align-items: center;
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;

    color: $font-color2;
  }
}

.split_border {
  @include border_line_horizontal;
}

.link {
  @include link;
}

.green_button {
  background-color: $green_button_normal;
  transition: $trans_03;

  &:hover {
    transition: $trans_03;
    background-color: $green_button_hover;
  }

  &:active {
    transition: $trans_03;
    background-color: $green_button_pressed;
  }
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(66, 64, 64, 0.75);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

/* Стрелки off */

::-webkit-scrollbar-button {
  &:vertical:start:decrement,
  &:vertical:end:increment,
  &:horizontal:start:decrement,
  &:horizontal:end:increment {
    display: none;
  }
}

.scrollbar_y,
.scrollbar_x {
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(66, 64, 64, 0.75);
  /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
  /* толщина */
}
