@import "./library";

.leftside_nav {
  display: flex;
  flex-direction: column;

  .main_router_link {
    @extend %cycle;

    height: 100px;
    width: 100px;

    margin-top: 10px;

    @include border_gradient_draw();

    div {
      @extend %cycle;

      display: flex;
      justify-content: center;
      align-items: center;

      padding: 10px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
