@import "./library";

.leftside_nav .main_router_link.router-link-active {
  div {
    background-color: #000;
  }
}

@media (min-width: calc($adaptive_state1 + 1px)) {
  .leftside_nav {
    display: flex;
    flex-direction: column;

    .main_router_link {
      border-radius: 100500px;

      height: 100px;
      width: 100px;

      margin-top: 10px;

      @include border_gradient_draw();

      div {
        border-radius: 100500px;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 10px;

        img {
          height: 100%;
          width: 100%;
        }

        .alternative_text {
          display: none;
        }
      }
    }
  }
}

@media (max-width: $adaptive_state1) {
  .leftside_nav {
    display: flex;
    flex-direction: row;

    justify-content: center;

    .main_router_link {
      margin-right: 10px;

      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;

      @include border_gradient_draw();

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 10px;

        img {
          display: none;
        }
      }
    }
  }
}
