@import "./library";

.header {
  display: flex;
  flex-direction: row;

  align-items: center;

  .avatar {
    width: 50px;

    @extend %cycle;

    margin-right: 30px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .welcome {
    font-size: 28px;
    font-weight: 400;
  }

  margin-bottom: 20px;
}
